<!DOCTYPE html>
<html>
<head>
    <title>404: Essent Statistics 2008 - 2013</title>
    <link href="../../stylesheets/screen.css" rel="stylesheet" type="text/css" />
    <link type="image/x-icon" href="assets/favicon.ico" rel="icon">
    <link type="image/x-icon" href="assets/favicon.ico" rel="shortcut icon">
</head>
<body>
    <div id="container">
        <header>
            <div id="header_content">
                <img src="../logo.png" alt="logo"/>
                <hgroup>
                    <h1>Essent</h1>
                    <h2>Statistics</h2>
                    <h1 id="be" class="hide">.be</h1>
                </hgroup>
            </div>
        </header>
        <div id="disabled">
            <h3>404: Page not available</h3>
            <h4>The page you&#39;re searching for is not available on this server</h4>
            <p class="p2">We&#39;re sorry but the page you&#39;ve searched for is not available on this server.
            </p>
            <h4>Surf to the root of this site to fix this problem</h4>
            <p class="p2"><a href="http://localhost/Essent/dev/src/">Go to the root</a> or change the url in your browser.</p>
        </div>
        <div id="data_elements"></div>
    </div>
</body>
</html>