@import "compass/reset";
@import "compass";

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@font-face{
  font-family: 'brandon_grotesqueblack';
  src: url('../assets/fonts/brandon_blk-webfont.eot');
  src: url('../assets/fonts/brandon_blk-webfont.eot') format('embedded-opentype'),
  url('../assets/fonts/brandon_blk-webfont.woff') format('woff'),
  url('../assets/fonts/brandon_blk-webfont.ttf') format('truetype'),
  url('../assets/fonts/brandon_blk-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'brandon_grotesquemedium';
  src: url('../assets/fonts/brandon_reg-webfont.eot');
  src: url('../assets/fonts/brandon_reg-webfont.eot') format('embedded-opentype'),
  url('../assets/fonts/brandon_reg-webfont.woff') format('woff'),
  url('../assets/fonts/brandon_reg-webfont.ttf') format('truetype'),
  url('../assets/fonts/brandon_reg-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
$header_height: 134px;
$yearbutton_width: 8px;

.order{
  visibility: hidden;
  height: 0;
}

body{
  margin:0;
  border: 0;
  padding: 0;
  background-color: #fff;
  background-image: url('../assets/textures/default.jpg');
  background-repeat: repeat;
  font-family: brandon_grotesqueblack, Helvetica, sans-serif;
  text-transform: uppercase;

  header{
    position: fixed;
    z-index: 20000;
    background-repeat: repeat;
    background-image: url('../assets/textures/header.jpg');
    width: 100%;
    height: 133px;
    top: 0;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow:0px 4px 10px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .3);
    #presentation_mode{
      position: absolute;
      cursor: pointer;
      width: 315px;
      height: 100%;
      margin-left: -295px;

      #content{
        width: 95%;
        height: $header_height - 17px;
        background: url('../assets/textures/presentation.jpg') repeat;
        padding-top: 17px;

        p{
          width: 100%;
          color: #48a9c2;
          text-align: center;
          font-size: 18pt;
        }

        a{
          display: inline-block;
          width: 119px;
          height: 58px;
          background-color: #095e6d;
          color: #48a9c2;
          text-decoration: none;
          margin-top: 15px;
          line-height: 58px;
          text-align: center;
        }

        #presentation_mode_on{
          margin-left: 26px;
        }

        #presentation_mode_off{
          margin-left: 5px;
        }

        .selected{
          background-color: #91cbda;
          color: #095e6d;
        }
      }
      background-image: url('../assets/presentation/rightbar.png');
      background-repeat: no-repeat;
      background-position: 100% 50%;
    }

    #header_content{
      cursor: pointer;
      width: 834px;
      height: $header_height - 20px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 190px;
      padding-top: 20px;
      background-image: url('../assets/header.jpg');
      background-repeat: no-repeat;
      background-position: top center;

      img{
        float: left;
      }

      hgroup{
        height: 100%;

        h1{
          color: #dc006e;
          font-size: 50pt;
          margin-top: 10px;
          margin-left: 18px;
          float: left;
        }

        h2{
          font-family: brandon_grotesquemedium;
          color: #48a9c2;
          font-weight: lighter;
          font-size: 40pt;
          height: 100%;
          float: left;
          margin-top: 18px;
          margin-left: 10px;
        }

        #be{
          margin-left: 3px;
        }
      }
    }
  }

  #disabled{
    width: 700px;
    margin-left: auto;
    margin-right: auto;

    margin: 190px auto 0 auto;

    h3, h4, p{
      margin-left: auto;
      margin-right: auto;
    }

    h3, h4{
      text-align: center;
    }

    h3{
      width: 100%;
      color: #dc006e;
      font-size: 45pt;
      margin-bottom: 30px;
    }

    h4, p{
      width: 90%;
      color: #13758e;
    }

    h4{
      font-size: 23pt;
      margin-top: 55px;
    }

    p{
      width: 90%;
      font-family: brandon_grotesquemedium, Helvetica, sans-serif;
      margin-top: 15px;
      margin-bottom: 40px;
      line-height: 18pt;
      text-transform: none;
      font-size: 14pt;

      a{
        text-decoration: none;
        font-weight: bold;
        color: #0c5d72;
      }

      a:hover{
        color: #dc006e;
      }
    }

    .p2{
      text-align: center;
    }

    img{
      margin-top: 20px;
    }
  }

  #data_elements{
    margin-top: 133px;
  }

  .gas, .electricity{
    width: 100%;
    height: 224px;
    cursor: pointer;
    .gas_content{
      background: url('../assets/gas/flames.png') no-repeat, url('../assets/textures/gas.jpg') repeat;
      .energy_source_title{
        color: #821c00;
        background: url('../assets/gas/icon.png') no-repeat, url('../assets/gas/underline.png') repeat-x;
      }
    }
    .electricity_content{
      background: url('../assets/electricity/thunderstruck.png') no-repeat, url('../assets/textures/electricity.jpg') repeat;
      .energy_source_title{
        color: #002E36;
        background: url('../assets/electricity/icon.png') no-repeat, url('../assets/electricity/underline.png') repeat-x;
      }
    }
    .gas_content .energy_source_title{
      padding-left: 45px;
      width: 275px;
    }
    .electricity_content .energy_source_title{
      width: 335px;
      padding-left: 45px;
    }
    .gas_content, .electricity_content{
      background-position: 50% 100%, 0px 0px;
      cursor: pointer;
      height: 143px;
      padding-top: 70px;
      box-shadow:inset 0 0 20px rgba(0, 0, 0, .3);
      .energy_source_title{
        font-size: 42pt;
        height: 85px;
        margin-left: auto;
        margin-right: auto;
        background-position: 0px 4px;
      }

      .loading{
        width: 550px;
        height: 74px;
        margin-left: auto;
        margin-top: 200px;
        margin-right: auto;
        h5{
          position: absolute;
          color: #fff;
          font-size: 15pt;
          width: 74px;
          height: 74px;
          line-height: 74px;
          text-align: center;
        }
        img{
          position: absolute;
          -webkit-animation-name: rotate;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: linear;

          -moz-animation-name: rotate;
          -moz-animation-duration: 2s;
          -moz-animation-iteration-count: infinite;
          -moz-animation-timing-function: linear;
        }
        p{
          font-size: 14pt;
          color: #fff;
          line-height: 74px;
          display: block;
          margin-left: 100px;
        }
      }

      .gasstats{
        .percentages{
          span, h5{
            color: #851E03;
          }
        }
        .year, h4{
          color: #821c00;
        }
        .selector div{
          background-color: #821c00;
        }

        .left{
          background-image: url('../assets/gas/timeline_left.png');
        }

        .left:hover{
          background-image: url('../assets/gas/timeline_lefth.png');
        }

        .right{
          background-image: url('../assets/gas/timeline_right.png');
        }

        .right:hover{
          background-image: url('../assets/gas/timeline_righth.png');
        }
      }

      .electricitystats {
        .percentages{
          span, h5{
            color: #002E36;
          }
        }
        .year, h4{
          color: #002E36;
        }
        .selector div{
          background-color: #002E36;
        }

        .left{
          background-image: url('../assets/electricity/timeline_left.png');
        }

        .left:hover{
          background-image: url('../assets/electricity/timeline_lefth.png');
        }

        .right{
          background-image: url('../assets/electricity/timeline_right.png');
        }

        .right:hover{
          background-image: url('../assets/electricity/timeline_righth.png');
        }
      }

      .stats{
        width: 1100px;
        margin-left: auto;
        margin-right: auto;

        .percentages{
          width: 100%;
          height: 150px;
          margin: 20px auto 55px auto;
          .circle_param{
            width: 130px;
            margin-right: 50px;
            float: left;
            span{
              position: absolute;
              width: 130px;
              height: 128px;
              font-size: 50pt;
              padding-top: 2px;
              text-align: center;
              line-height: 130px;
            }

            h5{
              width: 100%;
              margin-top: 14px;
              text-align: center;
            }
          }
          .circle_param:last-child{
            margin-right: 0px;
          }
        }

        .OV span, .OV h5, .DOM span, .DOM h5{
          color: #fff;
        }

        h4{
          width: 280px;
          margin: 70px auto 0px auto;
          font-size: 17pt;
          text-align: center;
        }

        .graph{
          width: 1000px;
          margin-left: auto;
          margin-right: auto;
          .graph_add_info{
            position: absolute;
            left: 0px;
            width: 140px;
            height: 80px;
            ul{
              width: 100%;
              height: 100%;
              font-size: 10pt;
              color: #fff;
              font-weight: lighter;
              li{
                height: 27px;
              }
            }
          }
          #graph_canvas{
            width: 100%;
            margin-top: 50px;
            margin-bottom: 40px;
          }
        }

        .yearnav{
          z-index: 30;
          position: absolute;
          font-size: 20pt;
          list-style: none;
          li{
            display: inline-block;
            margin-right: 95px;
            margin-left: 9px;
            width: 80px;
            height: 32px;
            line-height: 35px;

            .year{
              float: left;
              text-align: center;
              text-decoration: none;
              width: 60px;
              margin-left: 11px;
              padding-left: 9px;
            }

            .year:hover{
              color: #fff;
            }
          }
          .current{
            .year{
              color: #fff;
            }
          }
          .last{
            margin-right: 0px;
          }
        }
        .selector{
          left: 2%;
          position: absolute;
          width: 110px;
          a, div{
            position: absolute;
          }
          a:last-child{
            left: 95px;
          }
          div{
            left: 12px;
            display: inline-block;
            width: 79px;
            height: 35px;
          }
          .left, .right{
            width: 8px;
            height: 35px;
            z-index: 1000;
            position: absolute;
            cursor: pointer;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .gas_status_bar, .electricity_status_bar{
      width: 100%;
      height: 11px;
      background-color: #fff;
      .gas_status_bar_update{
        background-color: #821c00;
      }
      .electricity_status_bar_update{
        background-color: #002E36;
      }
      .gas_status_bar_update, .electricity_status_bar_update{
        width: 100%;
        height: 100%;
      }
    }
    .gas_status_el{
      background-image: url('../assets/gas/statusbg.png');
    }
    .electricity_status_el{
      background-image: url('../assets/electricity/statusbg.png');
    }
    .gas_status_el, .electricity_status_el{
      position: absolute;
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-top: -25px;
      margin-right: auto;
      background-repeat: no-repeat;

      img{
        width: 16px;
        height: 9px;
        margin-left: 12px;
        margin-top: 17px;
      }

      .timer{
        font-size: 14pt;
        text-align: center;
        margin-top: 11px;
      }

      #timerelectricity{
        color: #002E36;
      }

      #timergas{
        color: #821C00;
      }
    }
  }
}

.hide{
  display: none;
}